<CalcEditor
  @first={{first}}
  @second={{second}}
  @ops={{ops}}

  @onAnsCalculated={{action "onAnsCalculated"}}
/>
<div class="calc-results-container">
    <CalcResults
        @first={{ first }}
        @second={{ second }}
        @ans={{ ans }}
    />
</div>