<div class="center">
    <h3>{{ model.title }}</h3>
    <p>
        Price: {{model.price}}
    </p>
    <p>
        Pages: {{model.pages}}
    </p>
    <p>
        Ratings: <i>{{model.ratings}}</i>
    </p>
    <p>
        Pub House: {{model.publicationHouse}}
    </p>
</div>