<div class="book-form center">
    <p>
        <Input @type="text"
            @placeholder="Enter title"
            @value={{this.title}}/>
    </p>
    <p>
        <Input
            @type="number"
            @placeholder="Enter price"
            @value={{this.price}}
        />
    </p>
    <p>
        <Input
            @type="number"
            @placeholder="Enter pages"
            @value={{this.pages}}
        />
    </p>
    <p>
        <Input
            @type="number"
            @placeholder="Enter ratings"
            @value={{this.ratings}}
        />
    </p>
    <p>
        <Input
            @type="text"
            @placeholder="Enter publication House"
            @value={{this.publicationHouse}}
        />
    </p>
    <p>
        <button {{action "onSave"}}>Save</button>
        <button {{action "onCancel"}}>Cancel</button>
    </p>
</div>